.wrapper {
  background-color: rgb(5, 122, 169);
  min-height: 100vh;
}
nav {
  background: rgba(5, 75, 103, 0.507);
}
.hero {
  position: relative;
  min-height: 80vh;
}
.pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}
.pagination {
  display: flex;
  align-content: center;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1em;
}
.page-link {
  color: black;
  text-decoration: none;
}
.searchButton {
  height: 39px;
  padding: 10px 25px;
  border: 0;
  background: linear-gradient(rgb(99, 228, 157), rgb(45, 171, 180));
  position: absolute;
  top: -1px;
  right: -15px;
  z-index: 5;
  color: white;
}
/* card display for search page */
.movie-card-display {
  background: rgba(255, 255, 255, 0.313);
  backdrop-filter: blur(3px);
  width: 1000px;
}
.movie-card-display img {
  width: 40%;
  height: auto;
}
@media (max-width: 768px) {
  .movie-card-item img {
    max-height: 220px;
    object-fit: cover;
  }
}
/* .poster img {
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  border-width: 0;
  outline: 0;
}
.image_content {
  min-width: 300px;
  width: 300px;
  height: 450px;
}
.poster {
  margin-top: 30px;
  display: block;
  min-width: 300px;
  width: 300px;
  height: 450px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 2%;
  overflow: hidden;
}
.poster_wrapper {
  border-width: 0;
  min-width: 300px;
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 2%;
}
.images {
  display: flex;
  flex-wrap: nowrap;
}
.single_column {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1400px;
  width: 100%;
  padding-top: 40px;
  z-index: 0;
  box-sizing: border-box;
}
.header_wrapper {
  display: flex;
}
section.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  padding-left: 40px;
}
.title {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}
span {
  padding-left: 20px;
  position: relative;
  top: 0;
  left: 0;
}
span::before {
  font-size: 1.1em;
  line-height: 1;
  content: "•";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 7px;
  display: inline-flex;
  align-content: center;
  align-items: center;
  z-index: -1;
} */
.movie-wrapper {
  position: relative;
  background: black;
  min-height: 100vh;
}
.wrapper-container {
  position: relative;
  top: 80px;
  min-height: 85vh;
  display: flex;
  flex-wrap: nowrap;
}

.wrapper-container::after {
  content: "";
  position: absolute;
  background: rgba(35, 33, 33, 0.588);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.movie-poster {
  margin-left: 20px;
  margin-top: 20px;
  z-index: 1;
}
.movie-poster img {
  border-width: 0;
  min-width: 200px;
  width: 290px;
  height: 420px;
  overflow: hidden;
  border-radius: 2%;
}
.movie-info {
  z-index: 1;
}
.movie-info-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  padding-left: 40px;
}
.movie-title {
  width: 100%;
  margin-bottom: 24px;
}
.movie-name {
  width: 100%;
  font-size: 2.2rem;
}
.certification {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}
.movie-actions {
  margin-bottom: 20px;
  list-style-type: none;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movie-actions li {
  box-sizing: border-box;
  background: rgba(9, 16, 50, 0.911);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  padding: 15px;
}
.playVideo button {
  color: white;
  border: 0;
  background: 0 0;
  width: 200px;
  height: 20px;
  font-weight: 400;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  will-change: opacity;
  transition: linear 0.1s;
  display: flex;
}
.playVideo button:hover {
  color: cornflowerblue;
}
.movie-overview {
  padding-left: 40px;
}
.movie-overview h3 {
  width: 100%;
  margin: 0 0 5px;
}

.popup {
  min-width: 90px;
  min-height: 50px;
  width: 680px;
  height: 380px;
  display: inline-flex;
  top: 6.5px;
  left: 254px;
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 1;
  opacity: 1;
}
.popup-inner {
  display: block;
  padding: 0px;
  margin: 0px;
  background-color: rgb(0, 0, 0);
}
.popup-inner .btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
}
